dump_SES.sql
dump_SES_selectos.sql
dump_SES_selectos_diferentes.sql
dump_SES_insert.sql
dump_SES_insert_diferentes.sql
*.pyc
dumpSES_SEC.sql
dump_SES_SEC.sql
dump_jobsSES.sql
jobsSES.sql
SES.sql
SES_SECt.sql
SESHistorico.sql
